body{
  margin:0;
  background-color: #F4F9F9;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  text-align: center;
}
h1{
  position:absolute;
  font-family: 'Big Shoulders Display', cursive;
  text-align: left;
  padding-left: 40px;
  margin-top: 85px;
  color:hsl(0, 0%, 95%);
}
p{
  position:absolute;
  text-align: left;
  padding:40px;
  margin-top: 120px;
  color:hsla(0, 0%, 100%, 0.75);
}
.main{
  position:relative;
  margin:200px auto;
  width:1440px;
  height:600px;
  background-color: hsl(0, 0%, 95%);
}
.sedans{
  position:absolute;
  left:240px;
  top:115px;
  background-color: hsl(31, 77%, 52%);
  width:320px;
  height:380px;
  border-radius: 5px 0 0 5px;
}
.suvs{
  position:absolute;
  left:560px;
  top:115px;
  background-color: hsl(184, 100%, 22%);
  width:320px;
  height:380px;
}
.luxury{
  position:absolute;
  right:240px;
  top:115px;
  background-color: hsl(179, 100%, 13%);
  width:320px;
  height:380px;
  border-radius: 0 5px 5px 0;
}
.icon-sedans{
  position:absolute;
  top:20px;
  left:40px;

}

.icon-suvs{
  position:absolute;
  top:20px;
  left:40px;
}
.icon-luxury{
  position:absolute;
  top:20px;
  left:40px;
}
.btn1{
position:absolute;
bottom:40px;
left:40px;

   color: hsl(31, 77%, 52%);
   font-size: 15px;
   padding: 11px 15px 11px 15px;
   background-color: #F2F2F2;
   text-align: center;
   border-radius: 20px;
}
.btn2{
position:absolute;
bottom:40px;
left:40px;
 color: hsl(184, 100%, 22%);
   font-size: 15px;
   padding: 11px 15px 11px 15px;
   background-color: #F2F2F2;
   text-align: center;
   border-radius: 20px;
}
.btn3{
position:absolute;
bottom:40px;
left:40px;
   color: hsl(179, 100%, 13%);
   font-size: 15px;
   padding: 11px 15px 11px 15px;
   background-color: #F2F2F2;
   text-align: center;
   border-radius: 20px;
}
